.datePicker {
  border: 1px solid #ced4da;
  padding: .375rem .74rem;
  border-radius: .374rem;
  color: #212529;
}

.datePicker:focus {
  outline: 5px solid #c2dbfe;
}

.content {
  font-size: 20px;
}